# ------------------------------------------------------------------ #
#  Unimus Life Game — berkas yang tidak perlu masuk repositori
# ------------------------------------------------------------------ #

# Berkas Ren'Py hasil kompilasi
*.rpyc
*.rpyb
*.rpymc
*.rpyi
*.bak
*.swp
*.DS_Store

# Cache & analisis Ren'Py
game/cache/

# Berkas log, jejak, dan galat
*.log
*.trace
*.errors.txt
log.txt
traceback.txt
errors.txt

# Simpanan (saves) bersifat lokal untuk tiap pemain
game/saves/

# Berkas sistem
Thumbs.db
ehthumbs.db

# Pengaturan editor pribadi
.vscode/
.idea/

# Berkas Python
*.pyc
*.pyo
__pycache__/

# Direktori build & SDK
/renpy/
/renpy_versions/
/build/
/dist/
